@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #365782 0%, #2ea9bf 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */

@media (orientation: landscape) {
  main {
    position: relative;
    width: 100rem;
    height: 60rem;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(200px);
    filter: blur();
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    overflow: hidden;
    display: flex;
  }
  .player {
    flex: 50%;
    padding: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.75s;
  }
  .current {
    background-color: #c7365f;
    opacity: 0.8;
    border-radius: 9px;
    color: #fff;
    width: 65%;
    padding: 2rem;
    text-align: center;
    transition: all 0.75s;
  }

  .current-label {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    color: #ddd;
  }

  .btn--new {
    top: 4rem;
  }

  .btn--commit {
    top: 42.3rem;
  }

  .hint {
    position: absolute;
    border-radius: 9px;
    left: 50%;
    top: 16.5rem;
    transform: translateX(-50%);
    box-shadow: 0 2rem 5rem rgba(71, 8, 57, 0.8);
    width: 4.4in;
    text-align: left;
    background-color: #f5f7fa94;
    padding: 14px;

    font-size: 14px;
    font-weight: bold;
    color: #c7365f;

    animation-duration: 2s;
    animation-name: animate-fade;
    /* animation-delay: 1s; */
    animation-fill-mode: backwards;
  }

  .total {
    position: absolute;
    border-radius: 9px;
    left: 50%;
    top: 16.5rem;
    transform: translateX(-50%);
    height: 10rem;
    box-shadow: 0 2rem 5rem rgba(71, 8, 57, 0.8);
    width: 2in;
    text-align: center;
    background-color: #f5f7fa94;

    font-size: 8rem;
    font-weight: 300;
    color: #c7365f;
    /* margin-bottom: auto; */
  }

  .score {
    font-size: 8rem;
    font-weight: 300;
    color: #c7365f;
    margin-bottom: auto;
  }

  .list-options {
    background-color: #d1cbcd;
    font-size: 3.5rem;
    /* width: 1in; */
    border: none;
  }

  .list-options:hover {
    background-color: #83233e;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    border-color: #c7365f;
    background-color: #d1cbcd;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .winner-player0,
  .winner-player1 {
    position: absolute;
    border-radius: 9px;
    left: 50%;
    top: 13.5rem;
    transform: translateX(-50%);
    /* box-shadow: 0 2rem 5rem rgba(71, 8, 57, 0.8); */
    width: 4.4in;
    text-align: center;
    background-color: #f5f7fa94;
    padding: 14px;

    font-size: 70px;
    font-weight: bold;
    color: rgb(240, 35, 147);

    animation-duration: 2s;
    animation-name: animate-fade;
    /* animation-delay: 1s; */
    animation-fill-mode: backwards;
  }

  .winner-image {
    position: absolute;
    width: 50vw;
    top: 10%;
    left: 18%;
  }

}

@media (orientation: portrait) {
  main {
    position: relative;
    width: auto;
    height: 60rem;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(200px);
    filter: blur();
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    overflow: hidden;
    display: flex;
  }
  .player {
    flex: 50%;
    padding: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.75s;
  }
  section{
    width: 50%;
  }
  .current {
    background-color: #c7365f;
    opacity: 0.8;
    border-radius: 9px;
    color: #fff;
    width: auto;
    padding: 2rem;
    text-align: center;
    transition: all 0.75s;
  }

  .current-label {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    color: #ddd;
  }

  .btn--new {
    top: 1.5rem;
  }

  .btn--commit {
    top: 53.3rem;
  }

  .hint {
    position: absolute;
    border-radius: 9px;
    left: 50%;
    top: 20.5rem;
    transform: translateX(-50%);
    box-shadow: 0 2rem 5rem rgba(71, 8, 57, 0.8);
    width: 3in;
    text-align: left;
    background-color: #f5f7fa94;
    padding: 14px;

    font-size: 14px;
    font-weight: bold;
    color: #c7365f;

    animation-duration: 2s;
    animation-name: animate-fade;
    /* animation-delay: 1s; */
    animation-fill-mode: backwards;
  }

  .total {
    position: absolute;
    border-radius: 9px;
    left: 50%;
    top: 23.5rem;
    transform: translateX(-50%);
    height: 10rem;
    box-shadow: 0 2rem 5rem rgba(71, 8, 57, 0.8);
    width: 1.2in;
    text-align: center;
    background-color: #f5f7fa94;

    font-size: 6.5rem;
    font-weight: 300;
    color: #c7365f;
    /* margin-bottom: auto; */
  }

  .score {
    font-size: 5rem;
    font-weight: 200;
    top: 1rem;
    color: #c7365f;
    margin-bottom: auto;
  }

  .list-options {
    background-color: #d1cbcd;
    font-size: 3rem;
    right: -1.5in;
    /* width: .5in; */
    border: none;
  }

  .list-options:hover {
    background-color: #83233e;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: relative;
    border-color: #c7365f;
    background-color: #d1cbcd;
    width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  #mobile-move-left{
    position: static;
  }

  .winner-player0,
  .winner-player1 {
    position: absolute;
    border-radius: 9px;
    left: 50%;
    top: 30rem;
    transform: translateX(-50%);
    /* box-shadow: 0 2rem 5rem rgba(71, 8, 57, 0.8); */
    width: 4.4in;
    text-align: center;
    background-color: #f5f7fa94;
    padding: 14px;

    font-size: 70px;
    font-weight: bold;
    color: rgb(240, 35, 147);

    animation-duration: 2s;
    animation-name: animate-fade;
    /* animation-delay: 1s; */
    animation-fill-mode: backwards;
  }

  .winner-image {
    position: absolute;
    width: 50vw;
    top: 20%;
    left: 23%;
  }

}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}

.player--active .name {
  font-weight: 700;
}

.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}





/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}


.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

.hidden {
  display: none;
}

/* Drop Down Button*/
.dropbtn {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  padding: 16px;
  font-size: 16px;
  border-radius: 10px;
  border-color: #fff;
  transition: all 0.75s;
}

.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #83233e;
  cursor: pointer;
}


@keyframes animate-fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}